body {
  margin: 0;
  padding: 0; }

.header-top.rellax {
  margin-top: 0;
}

.header-container {
  width: 78%;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif; }

.first-section {
  width: 90%;
  margin: auto; }

.second-section__container {
  width: 85%;
  margin: auto; }

.third-section__container {
  width: 65%;
  margin: auto; }

.fourth-section__container {
  width: 85%;
  margin: auto; }

.fifth-section {
  width: 80%;
  margin: auto; }

.footer-container {
  width: 80%;
  margin: auto; }

a {
  text-decoration: none;
  color: black; }
  a:hover {
    text-decoration: none;
    color: black; }

body {
  margin: 0;
  padding: 0; }

.header {
  background: url(../img/header/header-background.jpg) no-repeat center top;
  min-height: 100vh;
  padding-top: 5px;
  -webkit-background-size: cover;
          background-size: cover; }
  .header-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 7px; }
  .header-information {
    text-transform: uppercase;
    margin-top: 24vh;
    margin-left: 7%; }
    .header-information__title {
      font-size: 4.5em;
      text-transform: uppercase;
      letter-spacing: 3.6px;
      margin-bottom: 25px;
      font-weight: 200; }
    .header-information__author {
      color: #232323;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.6px; }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 15px;
    text-transform: uppercase; }
    .menu-list__item {
      margin-left: 30px; }
    .menu-list__button {
      margin-left: 34px;
      padding: 17px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      background-color: black;
      color: white;
      border: 0;
      font-size: 0.75rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
      .menu-list__button:focus {
        outline: none; }
    .menu-list__hamburger {
      display: none;
      margin-left: 34px; }

.first-section {
  margin: 120px auto; }

.advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.advantage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
  font-size: 14px;
  color: #232323;
  font-family: 'Montserrat';
  font-weight: 500;
  max-width: 700px; }
  .advantage-img {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .advantage-img_last {
      margin-bottom: 37px; }
  .advantage-title, .advantage-title_last {
    white-space: pre-line;
    letter-spacing: 0.7px;
    font-size: 14px;
    font-weight: 500; }
    .advantage-title_last::after, .advantage-title_last_last::after {
      content: 'new';
      -webkit-border-radius: 12px;
              border-radius: 12px;
      background-color: #26e6e6;
      border: 0;
      color: #ffffff;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      padding: 7px;
      vertical-align: middle;
      margin-left: 6px; }
  .advantage-description {
    margin-bottom: 33px;
    opacity: 0.5;
    line-height: 22px;
    font-weight: 400; }
  .advantage-more {
    font-size: 12px;
    letter-spacing: 0.6px;
    font-weight: 500; }

.second-section {
  background-color: #26e6e6;
  font-family: 'Montserrat';
   }
  .second-section__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 35px; }
  .second-section__img img {
    max-width: 60vw;
    z-index: 1;
    margin-right: -120px; }
  .second-section__button {
    width: -webkit-calc(100% + 80px);
    width: calc(100% + 80px);
    height: 60px;
    margin-bottom: -40px;
    background-color: black;
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-top: auto;
    -webkit-border-radius: 0 0 2px 2px;
            border-radius: 0 0 2px 2px;
    color: #fffefe;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border: 0;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center; }
    .second-section__button:focus {
      outline: none;
      border: 0; }
  .second-section__boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background-color: #fff;
    z-index: 2; }
  .second-section__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 40px; }
    .second-section__box-img {
      margin-right: 20px; }
    .second-section__box-title {
      font-size: 1.125rem;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 20px;
      font-weight: 500; }
    .second-section__box-description {
      opacity: 0.5;
      color: #232323;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 22px; }

.third-section {
  font-family: 'Montserrat';
  color: #232323;
  padding-top: 30px;
  padding-bottom: 90px;
  background-color: #f5f6f8; }
  .third-section__title {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-bottom: 70px; }
    .third-section__title-main {
      font-weight: 200;
      font-size: 4.5rem; }
    .third-section__title-description {
      color: #232323;
      font-size: 1.125rem;
      line-height: 26px;
      font-weight: 500; }
  .third-section__boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .third-section__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 25%;
    font-weight: 500; }
    .third-section__box-title {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px; }
    .third-section__box-description {
      opacity: 0.5;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 12px; }
    .third-section__box-more {
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }

.fourth-section {
  overflow: hidden;
  font-family: 'Montserrat';
  background-color: #f5f6f8; }
  .fourth-section__container {
    background-color: black;
    padding-top: 10px;
    padding-left: 100px; }
  .fourth-section__information-title {
    margin-bottom: 25px;
    font-size: 4.5rem;
    font-weight: 200;
    line-height: 80px;
    white-space: pre-line;
    color: white; }
  .fourth-section__information-description {
    margin-bottom: 110px;
    opacity: 0.5;
    color: white;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 22px;
    white-space: pre-line; }
  .fourth-section__information-button {
    width: 180px;
    height: 50px;
    margin-bottom: 90px;
    -webkit-border-radius: 25px;
            border-radius: 25px;
    background-color: #26e6e6;
    color: #000000;
    font-size: 0.75rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border: 0; }
    .fourth-section__information-button:focus {
      outline: none;
      cursor: pointer;
      border: 0; }
  .fourth-section__information-button:hover {
    outline: none;
    cursor: pointer;
    border: 0; }
  .fourth-section__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .fourth-section__img_ipad {
      margin-top: -50vh;
      margin-left: 50%;
      width: 75vw; }

.fifth-section {
  margin-top: 110px;
  font-family: 'Montserrat';
  color: #232323;
  font-weight: 300; }
  .fifth-section__title {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 500; }
    .fifth-section__title-main {
      font-size: 12px; }
    .fifth-section__title-description {
      font-size: 18px; }
  .fifth-section__boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .fifth-section__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    margin-bottom: 80px; }
    .fifth-section__box-text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
    .fifth-section__box-img {
      margin-right: 10px; }
    .fifth-section__box-title {
      font-size: 18px;
      line-height: 26px;
      font-weight: 500; }
    .fifth-section__box-description {
      opacity: 0.5;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400; }

.sixth-section {
  font-family: 'Montserrat';
  overflow: hidden;
  margin-top: 90px;
  margin-bottom: 105px; }
  .sixth-section__reviews {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center; }
  .sixth-section__review {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    white-space: pre-line;
    min-width: 60%; }
    .sixth-section__review::before {
      content: url(../img/sixth-section/quote-begin.png);
      position: absolute;
      left: 5%;
      top: 6%; }
    .sixth-section__review::after {
      content: url(../img/sixth-section/quote-end.png);
      position: absolute;
      right: 5%;
      bottom: -6.5%; }
    .sixth-section__review-quote {
      color: #232323;
      font-size: 2.625rem;
      font-weight: 200; }
    .sixth-section__review-author {
      color: #000;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      font-weight: 500; }

.seventh-section {
  margin-top: 200px;
  background-color: #f5f6f8;
  font-family: 'Montserrat';
  text-align: center; }
  .seventh-section__title {
    color: #000;
    font-size: 4.5rem;
    padding-top: 35px;
    font-weight: 200; }
  .seventh-section__boxes {
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .seventh-section__box {
    padding: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 23%;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-weight: 400; }
    .seventh-section__box:hover {
      background-color: #000;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      color: white; }
    .seventh-section__box:hover .seventh-section__box-price {
      color: white; }
    .seventh-section__box:hover .seventh-section__box-description {
      color: white; }
    .seventh-section__box:hover .seventh-section__box-start {
      border: 0;
      outline: 0;
      background-color: #26e6e6; }
    .seventh-section__box-start:hover {
      cursor: pointer;
      border: 0;
    }
    .seventh-section__box-start:focus {
      outline: 0;
      border: 0;
    }
    .seventh-section__box-start:active {
      outline: 0;
      border: 0;
    }
    .seventh-section__box-rate {
      margin-bottom: 35px;
      color: #000;
      font-size: 0.75rem;
      line-height: 80px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
    .seventh-section__box-price {
      margin-bottom: 25px;
      color: #000;
      font-size: 3.125rem;
      font-weight: 900;
      line-height: 120.03px;
      text-transform: uppercase;
      letter-spacing: 4.17px; }
    .seventh-section__box-description {
      margin-bottom: 40px;
      opacity: 0.5;
      color: #000;
      font-size: 0.875rem;
      line-height: 22px; }
    .seventh-section__box-start {
      width: 180px;
      height: 50px;
      border: 0;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      background-color: #fff;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }

.seventh-section {
  margin-top: 200px;
  background-color: #f5f6f8;
  font-family: 'Montserrat';
  text-align: center; }
  .seventh-section__title {
    color: #000;
    font-size: 4.5rem;
    font-weight: 200; }
  .seventh-section__boxes {
    margin-top: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .seventh-section__box {
    padding: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 23%;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    font-weight: 400; }
    .seventh-section__box:hover {
      background-color: #000;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      color: white; }
    .seventh-section__box:hover .seventh-section__box-price {
      color: white; }
    .seventh-section__box:hover .seventh-section__box-description {
      color: white; }
    .seventh-section__box:hover .seventh-section__box-start {
      background-color: #26e6e6; }
    .seventh-section__box-rate {
      margin-bottom: 35px;
      color: #000;
      font-size: 0.75rem;
      line-height: 80px;
      text-transform: uppercase;
      letter-spacing: 0.6px; }
    .seventh-section__box-price {
      margin-bottom: 25px;
      color: #000;
      font-size: 3.125rem;
      font-weight: 900;
      line-height: 120.03px;
      text-transform: uppercase;
      letter-spacing: 4.17px; }
    .seventh-section__box-description {
      margin-bottom: 40px;
      opacity: 0.5;
      color: #000;
      font-size: 0.875rem;
      line-height: 22px; }
    .seventh-section__box-start {
      width: 180px;
      height: 50px;
      border: 0;
      -webkit-border-radius: 25px;
              border-radius: 25px;
      background-color: #fff;
      font-size: 0.75rem;
      text-transform: uppercase;
      letter-spacing: 0.6px;
      -webkit-align-self: center;
          -ms-flex-item-align: center;
              align-self: center; }

.footer {
  margin-top: 90px;
  background: url(/img/footer/footer-bg.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover;
  font-family: 'Montserrat';
  text-transform: uppercase; }
  .footer-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 100vh;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 1%;
    padding-bottom: 2%; }
  .footer-title {
    color: #000;
    font-weight: 900;
    font-size: 5.625rem;
    line-height: 120.03px;
    text-align: right;
    letter-spacing: 7.5px; }
  .footer-logo {
    margin-right: 40px; }
  .footer-information {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #000;
    color: #fff;
    padding: 40px; }
  .footer-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .footer-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left; }
    .footer-list__page {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-right: 90px; }
      .footer-list__page-item {
        margin-bottom: 20px;
        font-size: 0.75rem;
        font-weight: 300;
        letter-spacing: 1.2px; }
        .footer-list__page-item_link {
          color: #fff;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
          .footer-list__page-item_link:hover {
            color: #4F4949; }
  .footer-other {
    margin-right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer-author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 0.6875rem;
    text-align: right;
    letter-spacing: 1.1px; }
    .footer-author__text {
      opacity: 0.2;
      margin-bottom: 10px; }
  .footer-social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-social__text {
      text-transform: none;
      opacity: .2;
      margin-bottom: 12.5px;
      text-align: right;
      font-size: 13px; }
    .footer-social__img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .footer-social__network {
      opacity: .2;
      margin-left: 25px; }

@media (min-width: 2000px) {
  html {
    font-size: 24px; }
  .fourth-section__img_ipad {
    margin-left: 90vw; } }

@media (min-width: 1700px) {
  html {
    font-size: 20px; }
  .fourth-section__img_ipad {
    width: auto;
    margin-left: 60%; } }

@media (min-width: 1400px) {
  html {
    font-weight: 16px; }
  .second-section {
    max-height: 100vh; } }

@media (max-width: 1200px) {
  html {
    font-size: 14px; }
  .advantage {
    white-space: auto;
    min-width: 30%; }
  .second-section {
    padding: 0px; }
    .second-section__img img {
      max-height: 70vh;
      margin-right: -140px; }
  .fourth-section__img_ipad {
    margin-left: 40%;
    margin-top: -23%;
    width: 140vw; }
  .seventh-section__box {
    padding: 40px;
    padding-left: 20px;
    padding-right: 20px;
    width: 30%; }
    .seventh-section__box-rate {
      margin-bottom: 5px; }
    .seventh-section__box-price {
      font-size: 2.5rem;
      margin-bottom: 5px; } }

@media (max-width: 980px) {
  html {
    font-size: 13px; }
  .header {
    white-space: normal; }
    .header-information {
      margin-left: 0; }
  .menu-list__item {
    display: none; }
  .menu-list__hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .menu-list__button {
    white-space: nowrap; }
  .first-section {
    width: 75%; }
  .advantage {
    margin-bottom: 100px; }
    .advantage-description {
      white-space: normal; }
    .advantage-title_last::after {
      padding: 2px 3px; }
  .second-section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .second-section__img img {
    margin-right: 0;
    width: 90vw;
    padding-top: 20px;
    margin-bottom: -60px; }
  .third-section__container {
    padding-top: 25px;
    width: 88%; }
  .fourth-section__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .fourth-section__img_ipad {
    margin-left: 15%;
    margin-top: 50px;
    width: 120vw;
    padding: 0; }
  .sixth-section {
    margin-top: 60px; }
    .sixth-section__reviews {
      margin-top: 20px; }
    .sixth-section__review {
      margin: 30px; }
  .footer-logo {
    -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
            align-self: flex-start; }
  .footer-information {
    margin-top: 20vh; }
  .footer-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer-list__page {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 30px;
      text-align: left; }
  .footer-social__text {
    text-align: right; } }

@media (max-width: 768px) {
  .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .third-section__title {
    margin-bottom: 50px; }
    .third-section__title-main {
      font-size: 2.5rem; }
  .third-section__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .third-section__box {
    margin-bottom: 60px;
    width: 40%; }
  .fourth-section__container {
    width: 95%; }
  .fourth-section__img_ipad {
    margin-left: 2%;
    width: 130vw; }
  .fifth-section__box {
    width: 40%; }
  .sixth-section {
    margin-top: 30px; }
    .sixth-section__reviews {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
  .seventh-section__boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .seventh-section__box {
    width: 50%; }
  .footer-container {
    width: 93%; }
  .footer-information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer-logo {
    margin-bottom: 15px; }
  .footer-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }

@media (max-width: 576px) {
  .header-container {
    width: 80%; }
  .menu-list__hamburger {
    margin-left: 20px; }
  .second-section {
    padding-top: 30px;
    padding-bottom: 25px; }
    .second-section__container {
      height: auto; }
    .second-section__img {
      display: none; }
    .second-section__boxes {
      height: auto; }
    .second-section__box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .second-section__box-img img {
        margin-bottom: 10px; }
    .second-section__container {
      width: 94%;
      padding: 10px; }
  .third-section__container {
    width: 97%;
    padding: 5px; }
  .third-section__box {
    width: 70%; }
  .fourth-section__information-title {
    white-space: normal; }
  .fourth-section__information-description {
    white-space: normal;
    margin-bottom: 40px; }
  .fourth-section__information-button {
    margin-bottom: 40px; }
  .fourth-section__container {
    padding-top: 70px;
    padding-left: 40px; }
  .fourth-section__img_ipad {
    display: none; }
  .fifth-section__boxes {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .fifth-section__box {
    width: 70%; }
  .seventh-section__box {
    width: 75%; }
  .footer-title {
    font-size: 3rem;
    line-height: 62px; }
  .footer-information {
    width: 70%;
    margin-bottom: 40px; } }

@media (max-width: 390px) {
  html {
    font-size: 11px; }
  .second-section {
    padding: 2px; }
    .second-section__button {
      min-width: 60%; }
  .second-section__button:hover {
    cursor: pointer; }
  .third-section {
    margin-top: 30px; }
    .third-section__title-main {
      font-size: 35px; }
  .fourth-section__container {
    padding-left: 20px; }
  .footer-container {
    width: 95%; }
  .footer-social__img {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end; } }
